@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: 100vh;
  height: -webkit-fill-available;
}

@layer components {
  .icon-button {
    @apply p-2;
  }

  .icon-button:hover {
    @apply text-red-500;
  }
}