@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-1 h-1 bg-neutral-900;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-neutral-700;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: 100vh;
  height: -webkit-fill-available;
}

@layer components {
  .icon-button {
    -webkit-tap-highlight-color: transparent;
    @apply flex items-center justify-center w-10 h-10 p-2 -m-2 text-2xl
    transition-[background-color,transform] rounded-full;
  }

  .icon-button:hover {
    @apply bg-neutral-100/10;
  }

  .icon-button:active {
    @apply bg-neutral-100/20;
  }
}
